apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: flask-bg-ingress
  annotations:
    ingress.kubernetes.io/proxy-body-size: 100M
    kubernetes.io/ingress.class: nginx
    ingress.kubernetes.io/app-root: /
spec:
  rules:
  - host: rozario-demo.sa.cf-cd.com
    http:
      paths:
      - path: /flask
        pathType: ImplementationSpecific
        backend:
          service:
            name: rollout-bluegreen-active
            port: 
              number: 8000
      - path: /flask/preview
        pathType: ImplementationSpecific
        backend:
          service:
            name: rollout-bluegreen-preview
            port:
              number: 8000